.CarForm {
    margin: 20px 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;

    background-color: #eaf9fc;
    box-shadow: inset 2px 2px 3px #acacfd, 2px 2px 3px #6666f5;
}