.App {
  width: calc(100% - 60px);
  margin: 10px auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  box-shadow: 1px 1px 10px #e3e3e3;
}

.App h1 {
  width: 100%;
  margin: 2em auto;

  color: white;

  text-align: center;
  text-shadow: 1px 1px 3px #070707;
}

.App>p {
  width: 100%;
  margin-right: 30px;

  text-align: end;
}

