*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.App {
    width: 100%;
}

.in-app {
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: space-between;

    background-color: #9f9898;
}